In [6]:
import pandas as pd
import numpy as np
dates = pd.date_range('1/1/2000', periods=8)

In [7]:
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])

In [10]:
panel = pd.Panel({'one' : df, 'two' : df - df.mean()})
panel

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 8 (major_axis) x 4 (minor_axis)
Items axis: one to two
Major_axis axis: 2000-01-01 00:00:00 to 2000-01-08 00:00:00
Minor_axis axis: A to D

In [16]:
s = df['A']
s

2000-01-01   -0.314847
2000-01-02    0.688191
2000-01-03    1.941077
2000-01-04   -0.959163
2000-01-05    2.061994
2000-01-06   -0.850775
2000-01-07   -1.133179
2000-01-08   -0.789884
Freq: D, Name: A, dtype: float64

In [15]:
s[dates[5]]

-0.85077541425164183

In [18]:
sa = pd.Series([1,2,3],index=list('abc'))
sa

a    1
b    2
c    3
dtype: int64

In [19]:
dfa = df.copy()
dfa

                   A         B         C         D
2000-01-01 -0.314847 -0.117577  0.428054  0.903259
2000-01-02  0.688191  0.741072 -0.546993  0.056326
2000-01-03  1.941077  1.376983 -1.485858 -0.268611
2000-01-04 -0.959163 -0.710061  0.720645  0.942915
2000-01-05  2.061994 -0.957066 -0.368922  0.083106
2000-01-06 -0.850775  0.922888 -0.616860  0.603634
2000-01-07 -1.133179  1.144379 -0.839507  2.610729
2000-01-08 -0.789884  0.613360 -0.430368 -1.801534

In [20]:
panel.one

                   A         B         C         D
2000-01-01 -0.314847 -0.117577  0.428054  0.903259
2000-01-02  0.688191  0.741072 -0.546993  0.056326
2000-01-03  1.941077  1.376983 -1.485858 -0.268611
2000-01-04 -0.959163 -0.710061  0.720645  0.942915
2000-01-05  2.061994 -0.957066 -0.368922  0.083106
2000-01-06 -0.850775  0.922888 -0.616860  0.603634
2000-01-07 -1.133179  1.144379 -0.839507  2.610729
2000-01-08 -0.789884  0.613360 -0.430368 -1.801534

In [22]:
x = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]})
x

   x  y
0  1  3
1  2  4
2  3  5

In [24]:
x.iloc[1] = dict(x=9, y=99)
x

   x   y
0  1   3
1  9  99
2  3   5

In [28]:
s[: 5]

2000-01-01   -0.314847
2000-01-02    0.688191
2000-01-03    1.941077
2000-01-04   -0.959163
2000-01-05    2.061994
Freq: D, Name: A, dtype: float64